# Virtual environment
myenv/
.env

# Bytecode files
__pycache__/
*.pyc
*.pyo

# IDE/editor folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# local sensitive configs
config.json

# Terraform State Files will be stored in Terraform Cloud
*.tfstate
*.tfstate.backup
.terraform/

